<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="cover2">
        <!--Icons made by https://www.flaticon.com/authors/freepik from https://www.flaticon.com/ -->
        <div class="rub1"></div>
        <div class="rub2"></div>
        <div class="rub3"></div>
        <div class="rub4"></div>
        <div class="rub5"></div>
        <div class="rub6"></div>
        <div class="rub7"></div>
        <div class="rub8"></div>
        <div class="rub9"></div>
        <div class="rub10"></div>
        <div class="logo2"></div>
        <div class="graph1"></div>
        <div class="graph2"></div>
        <div class="hTitle1">
            <div class="hBar1">
                <div class="hText1">
                    <p>2015</p>
                </div>
            </div>
        </div>
        <div class="hTitle2">
            <div class="hBar2">
                <div class="hText2">
                    <p>2016</p>
                </div>
            </div>
        </div>
        <div class="hTitle3">
            <div class="hBar3">
                <div class="hText3">
                    <p>2017</p>
                </div>
            </div>
        </div>
        <div class="vTitle1">
            <div class="vBar1">
                <div class="vText1">
                    <p>НДФЛ</p>
                </div>
            </div>
        </div>
        <div class="vTitle2">
            <div class="vBar2">
                <div class="vText2">
                    <p>НПО</p>
                </div>
            </div>
        </div>  
        <div class="headTitle">
            <div class="headBar">
                <div class="headLine"></div>
                <div class="headText1">
                    <p>Год</p>
                </div>
                <div class="headText2">
                    <p>Вид налога</p>
                </div>
            </div>
        </div> 
        <div class="res1">
            <div class="resBar1">
                <div class="resText1">
                    <p>10 283 715 388</p>
                </div>
            </div>
        </div> 
        <div class="res2">
            <div class="resBar2">
                <div class="resText2">
                    <p>10 387 137 195</p>
                </div>
            </div>
        </div> 
        <div class="res3">
            <div class="resBar3">
                <div class="resText3">
                    <p>10 351 368 099</p>
                </div>
            </div>
        </div> 
        <div class="res4">
            <div class="resBar4">
                <div class="resText4">
                    <p>4 157 284 640</p>
                </div>
            </div>
        </div> 
        <div class="res5">
            <div class="resBar5">
                <div class="resText5">
                    <p>4 108 394 880</p>
                </div>
            </div>
        </div> 
        <div class="res6">
            <div class="resBar6">
                <div class="resText6">
                    <p>4 128 282 355</p>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>